@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

/* Background dengan efek overlay gelap agar teks tetap terbaca jelas */
.bg-ornament {
  background-image: url('/maulid/dekorasi/ornamen.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.bg-maulid-2026 {
background-color: #aeaeae;
}
